{% extends 'dashboard_base.html' %}

{% block main_content %}
<div class="main_container">
    <div class="col-md-12">
        <div class="col-middle">
            <div class="text-center text-center">
                <h1 class="error-number">403</h1>
                <h2>Forbidden</h2>
                <p>
                    Full authentication is required to access this resource. <a href="#">Report this?</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block footer %}{% endblock footer %}
