{% extends 'dashboard_base.html' %}
{% load staticfiles %}

{% block body_class %}login{% endblock %}

{% block content %}
<div>
    <div class="login_wrapper">
        <h3>Password reset sent</h3>

        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
